
#jdwz-form-container div input[type=text], #jdwz-form-container div textarea {
	padding: 8px;
	border: 1px solid #aaa;	
	border-radius: 0;
	font-weight: 100;
	font-family: arial, times;
}

#jdwz-form-container div.form-error span.form-error-span {
	font-size: 11px;
	font-weight: bold;
	color:red;
}

#jdwz-form-container div {
	margin-top:15px;
}

