<div id="message">			
	<p>[%jdwz-fname% %jdwz-lname%] < %jdwz-email% > sent the following prayer request:</p>
	<p>Subject: %jdwz-subject%</p>
	<p>Prayer Request: %jdwz-request%</p>
	<p>Be Specific: %jdwz-specific%</p>
</div>