<div>
    <h3>Security Alert!</h3>
    <h4>Your inquiry/message/note has been queued.</h4>
    <p>For security purposes and to prevent fraudulent use of email addresses follow the below instructions.</p>
    <p>Click on the link sent your email address to finish the submission of this inquiry/message/note.</p>
    <p>This link expire in 15 minutes. Failure to utilize the link will result in non-delivery of inquiry/message/note.</p>
    <p>Thank you for your help in combating the misuse of the web.</p>
    <p><small><em style="color:red">* Please note the email may have gone into your junk/spam folder.</em></small></p>
</div>