<div id="message">			
	<p>Public contact from: [%jdwz-fname% %jdwz-lname%] < %jdwz-email% ></p>			
	<p>------------</p>			
	<p>Form Subject:</p>
	<p>%jdwz-subject%</p>
	<p>------------</p>			
	<p>Form Message:</p>
	<p>%jdwz-message%</p>
	<p>------------</p>	
</div>